form table {
    margin-top: 20px;
    padding: 5px;
    border: 4px double #c0c0c0;
}

form th {
    padding: 0 4px;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
}

form select {
    min-width: 100px;
}

.submitbutton td {
    text-align: right;
}

.submitbutton {
    border: solid 1px #888888;
    background: url(../images/button_bg.png) repeat-x left top;
    color: #000;
    padding: 0px 2px;
    font-size: 11px;
    white-space: nowrap;
    min-width: 80px;
}

td.labelcol {
    text-align: right;
}

.submitbutton:hover {
    background: url(../images/button_bg2.png) repeat-x left top;
}

.fieldcol .requiredfield {
    background-color: #CCD9FF;
}

.fielderror {
    color: red;
}
