exclude .project .pydevproject clean.sh
include openobject-web.py
include lib/populate.sh
recursive-include openobject *
recursive-include doc *
recursive-include config *
recursive-include locales *
recursive-include scripts *
prune win32
global-exclude *pyc *~
