div.dashbar {
}

div.dashlet {
	margin-bottom: 4px;
	border: solid 1px #bbb8a9;
}

div.dashlet-title {
	background: url(/static/images/grdline1.gif) repeat-x left top;
	background-color: #F6F6F6;
    padding: 2px;
    white-space: nowrap;
    cursor: move;
    
    font-weight: bold;
	
}

div.dashlet .dashlet-button {
    width: auto;
    margin: 0 1px;
    cursor: pointer;
    white-space: nowrap;
}

div.dashlet-content {
	padding: 2px;
}

