.grid {
    border: none;
	border-top: 1px solid #999;
}

.grid .header td,
.grid .row td {
    padding: 3px 4px;
    border: none;
}

.grid .header td {
	height:22px;
	text-align: left;
	background:url(/static/images/gradientlinebg.gif);
	border-bottom: 1px solid #999;
	font-weight: bold;
}

.grid .row {
    background-color: white;
}

.grid .row:hover {
    background-color: #f9f9f9;
}

.grid .row td {
    border-bottom: 1px solid #E3E3E3;
}

.grid .pager {
	white-space: nowrap;	
}

.grid .pager table {
	height:22px;
	background: #f3f3f3;
	border-bottom: 1px solid #999;	
}

.grid .pager table td {
	padding: 2px 4px;
}

.grid .pager a {
	color: #333333;
	text-decoration: none;
}

.grid .pager a:hover {
    text-decoration: none;
}

.listButton {
    width: 25px;
    text-align: center;
}

.listImage {
    cursor: pointer;
}
