.listButton {
    width: 25px;
    text-align: center;
}

.grid .listButton {
    text-align: center;
}

.listImage {
    cursor: pointer;
}

.grid thead tr th {
	height:22px;
	background:url(/static/images/gradientlinebg.gif);
}

.grid .row {
    background-color: white;
}

.grid .row td {
    border-top: 1px solid #E3E3E3;
}

table.list_arrow {
	height:22px;
	background:#f3f3f3;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
}

a.arrow_link {
	color: #333333;
	text-decoration: none;
}

a.arrow_link:hover {
    text-decoration: none;
}

