.grid {
    border: none;
	border-top: 1px solid #999;
}

.grid .header td,
.grid .row td {
    padding: 2px 4px;
    border: none;
}

.grid .header td {
	background:url(/static/images/gradientlinebg.gif);
	border-bottom: 1px solid #999;
	font-weight: bold;
}

.grid .row {
    background-color: white;
}

.grid .row:hover {
    background-color: #f9f9f9;
}

.grid .row td {
    border-bottom: 1px solid #E3E3E3;
}

.grid .float,
.grid .integer {
    text-align: right;
}

.grid .pagerbar {
	white-space: nowrap;
	height:22px;
}

.grid .pagerbar .pagerbar-cell {
	background: #f3f3f3;
	border-bottom: 1px solid #999;	
	padding: 2px 4px;
}

.grid .pagerbar .pagerbar-links a {
	color: #333;
	text-decoration: none;
}

.grid .pagerbar .pagerbar-links a:hover {
    text-decoration: none;
}

.listButton {
    width: 25px;
    text-align: center;
}

.listImage {
    cursor: pointer;
}
