.grid {
    border: none;
	border-top: 1px solid #999;
}

.grid-row {
    background-color: white;
}

.grid-row:hover {
    background-color: #f9f9f9;
}

.grid-cell {
    padding: 2px 4px;
    border: none;
}

.grid-header .grid-cell {
	background:url(/static/images/gradientlinebg.gif);
	border-bottom: 1px solid #999;
	font-weight: bold;
}

.grid-row .grid-cell {
    border-bottom: 1px solid #E3E3E3;
}

.grid-row.editors .grid-cell {
	background-color: #FFFFBF;
	padding: 2px;
}

.grid .float,
.grid .integer {
    text-align: right;
}

.grid .pagerbar {
	height:22px;
	vertical-align: middle;
	white-space: nowrap;
}

.grid .pagerbar .pagerbar-cell {
	background: #f3f3f3;
	border-bottom: 1px solid #999;	
	padding: 2px 4px;
}

.grid .pagerbar .pagerbar-links a {
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

.grid .pagerbar .pagerbar-links a:hover {
    text-decoration: none;
}

.listButton {
    width: 25px;
    text-align: center;
}

.listImage {
    cursor: pointer;
}
