table.menubar
{
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

table.menubar td
{
	margin: 0;
	padding: 0;
	border-right: 1px solid #333;
}

table.menubar td a
{
	display: block;
	text-align: center;
	background: #666;
	padding: 4px 10px;
	margin: 0 1px 0 0;
	color: #FFF;
	text-decoration: none
}

table.menubar td a:hover
{
	background: #505050;
	text-decoration: none;
}

table.menubar div.submenu
{
	background-color: #999;
	visibility: hidden;
	position: absolute;
	padding: 2px;
	margin-top: 2px;
	margin-left:  1px;
	z-index: 3
}

table.menubar div.submenu table {
    position: relative;
    margin: -4px 0px 0px -4px;
    background-color: #666;
    border: 1px solid #333;
}

table.menubar div.submenu td {
	border: none;
}

table.menubar div.submenu a
{
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 5px;
    color: #FFF;
}

table.menubar div.submenu a:hover
{
    background: #505050;
  	text-decoration: none;
}

div.contextmenu
{
    background: #999;
    padding: 2px;
    white-space: nowrap;
    position: absolute;
    z-index: 100;
}

div.contextmenu a
{
    display: block;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px;
    color: #FFF;
}

div.contextmenu a:hover
{
    color: #FFF;
    background: #505050;
    text-decoration: none;
}

div.contextmenu a.disabled
{
   color: #C0C0C0;
}

div.contextmenu table {
    position: relative;
    margin: -4px 0px 0px -4px;
    background: #444;
    border: 1px solid #000;
}



