table.menubar
{	
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

table.menubar td
{	
	margin: 0;
	padding: 0;
	border-right: 1px solid #333;
}

table.menubar td a
{	
	display: block;
	text-align: center;
	background: #666;
	padding: 4px 10px;
	margin: 0 1px 0 0;
	color: #FFF;
	text-decoration: none
}

table.menubar td a:hover
{
	background: #505050;
	text-decoration: none;
}

table.menubar div
{	
	background: #666;
	border: 1px solid #333;
	visibility: hidden;
	position: absolute;
	z-index: 3
}

table.menubar div a
{	
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 5px;
    color: #FFF;
}

table.menubar div a:hover
{	
    background: #505050;
  	text-decoration: none;
}
