.pager {
	font-size: 11px;
	font-weight: bold;
	color: #999;
	vertical-align: middle;
	white-space: nowrap;
}

.pager a {
	vertical-align: middle;	
	color: #333;
}

.pager a:hover {
	text-decoration: none;
}
