
input.selection {
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url('/static/images/selection.png');
    cursor: pointer;
}

.selection-options {
    display: none;
    position: absolute;
    background-color: #c3c3c3;
    max-height: 200px;
}

.selection-options a {
	color: black;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.selection-options a:hover {
	color: black;
    background-color: #ddd;
    text-decoration: none;
}

.selection-options a:focus {
	background-color: #ddd;
}

.selection-shadow {
	display: block;
	background-color: white;
	border: 1px solid gray;
	
	position: relative;
    top: -2px;
    left: -2px;
    
    overflow: hidden;
    overflow-y: auto;
    
    max-height: 198px;
}