td.label,
td.item {
    padding: 0px 2px;
}

td.label {
    padding: 0px 4px;
}

img.imgSelect {
    margin-left: 2px;
}

table.tree-grid th,
table.tree-grid td {
    padding: 0px 5px;
}

div.box2 button {
    margin: 0px 2px;
}
