html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
}

body, table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a {
	text-decoration: none;
	color: #990000;
}

a:hover {
	text-decoration: underline;
	color: #690000;
}

a.imglink {
    text-decoration: none;
}

a:hover.imglink {
    border: none;
}

hr {
	 border: 0px;
	 background-color: #888;
	 height: 1px;
}

input, select, textarea {
    background-color:#f3f3f3;
    border: 1px solid #999999;
}

input:focus, select:focus, textarea:focus {
    border-color: #990033;
}

button {
	border:solid 1px #888888;
	background:#999;
	color:#000000;
	padding: 0px 3px;
	background:url(/static/images/button_bg.png) repeat-x left top;
	text-transform: uppercase;
	font-size: 12px;
}

button.inactive {
	background:#eeeeee;
	border:solid 1px #888888;
	color:#999999;
}

h2 {
	font-size: 15px;
	color: #950000;
	margin-bottom: 3px;
}

h1 {
	font-size: 16px;
	color: #950000;
	border-bottom: solid 1px #333333;
	margin: 0;
	margin-bottom: 3px;
	line-height: 24px;
}

#container {
    margin: auto;
    width: 100%;
    min-width: 800px;
    min-height: 600px;
}

/* ---------- Header ----------- */


table.header {
	background:url(/static/images/grdheader.gif) repeat-x left top;
	width: 100%;
}

div.menu_connection {
	position:relative;
	top:0;
	right:0;
}

table.menu_connection {
	padding: 0px;
	border: 0px;
}

td.menu_connection_welcome {
	background: #333333;
	padding-left: 10px;
	padding-right: 18px;
	color: white;
}

td.menu_connection {
	background: #950000;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

a.menu_connection {
	color: white;
	font-weight: bold;
	padding-left: 7px;
	padding-right: 7px;
}

td#menu_header_menu {
	background: #950000;
	text-align: center;
	font-weight: bold;
}

td#menu_header_shortcuts {
	background: #333333;
	text-align: center;
	padding-left: 10px;
	padding-right: 0px;
	font-weight: bold;
}

a#menu_header{
	color:white;
}

table.menu_header {
	background: #666666;
	margin-bottom: 4px;
}
/*------------------------------------------------------*/

/* ------------------- Footer --------------- */

div#footer {
	clear:both;
	padding: 5px;
	text-align: center;
	font-size: 11px;
	color: #777777;
	line-height: 20px;
}

a#footer {
	color: #777777;
	text-decoration: underline;
	line-indent:

}

div.toolbar_button {
	padding:0;
	margin-bottom:8px;
}

a.toolbar_button:link, a.toolbar_button:visited {
	display:block;
	background:url('images/toolbar_button_bg.png') no-repeat;
	vertical-align:middle;
	font-size:11px;
	font-weight:bold;
	color:#444;
	text-align:left;
	padding-top:5px;
	padding-left:12px;
	height:20px !important;
	height:25px;
	width:100%;
	text-decoration:none;
}

a.toolbar_button:hover {
	background-position:0px -25px;
	text-decoration:none;
	color:#902D2D;
}

a.toolbar_button#active_menu {
	color:#902D2D;
	font-weight:bold;
}

a.toolbar_button#active_menu:hover { color:#902D2D; }

div.button_right {
    position: relative;
    float: right;
}

div#tab_content {
	background: #fbfbfb;
	display: block;
	border-bottom: 1px solid #bbb8a9;
	padding: 5px;
}
/*------------------------------------------------------------------*/
#logo {
    padding: 5px;
}

#shortcuts {
    height: 25px;
    background-color: #E8EEFA;
    border-bottom: 1px solid #C3D9FF;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

#shortcuts span {
    border-left: 2px solid #C3D9FF;
    padding-left: 5px;
}

#mybar {
    text-align: right;
    white-space: nowrap;
    padding: 2px 5px;
    vertical-align: top;
}

#reqbar {
    text-align: right;
    white-space: nowrap;
    padding: 2px 5px;
}

#footer a {
	color: #777777;
	text-decoration: underline;
	line-indent:
}

#content {
	height: 100%;
    vertical-align: top;
    background-color: #FFFFFF;
}

div.vline {
    background-color: #C3D9FF;
    width: 1px;
    height: 100%;
}

div.scrollbox {
    width: 100%;
    height: 100%;
    overflow: auto;
}

td.title {
    background-color: #C3D9FF;
    height: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

div.box, div.box2 {
    background-color:#F6F6F6;

    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

div.box {
    width: 400px;
    padding: 10px;
    margin: auto;
}

div.box2 {
    padding: 10px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.message {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
}

div.welcome {
    text-align: center;
    color: #990033;
    font-size: 16px;
    font-weight: bold;
}

/* view style */

.view {
	width: 100%;
}

.view .spacer {
	width: 5px;
	height: 5px;
}

.view .title {
    background:url(/static/images/grdline1.gif) repeat-x left top;
    border-top: 1px solid #E3E3E3;
    height: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.view .toolbar {
    background-color: #F6F6F6;
    border-top: 1px solid #bbb8a9;
    border-bottom: 1px solid #bbb8a9;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

.view .toolbar button {
	width: auto;
	margin: 5px 1px;
	cursor: pointer;
	white-space: nowrap;
}

.view .fields {
	padding: 5px;
}

.view table.one2many {
    border-bottom: 1px solid #bbb8a9;
}

.sidebar {
    padding: 0 5px;
    width: 150px;
}

.sidebar table {
    width: 100%;
    margin-bottom: 5px;
}

.sidebar th,
.sidebar td {
    padding: 4px;
    text-align: left;
}

.sidebar thead tr {
    background-color: #C3D9FF;
    font-weight: bold;
}

.sidebar tbody tr {
    cursor: pointer;
    background-color: #FBFBFB;
}

.sidebar tbody tr:hover {
    background-color: #F0F0F0;
}

td.label {
	width: 5px;
	padding: 0 5px;
	text-align: right;
	white-space: nowrap;
}

td.item {
}

#view_form .fielderror {
    color: #FF0000;
}

#view_form .requiredfield {
    background-color: #FFCCCC;
}

#view_form .errorfield {
    background-color: #FF6666;
}

#view_form .readonlyfield {
    background-color: #EEEEEE;
}

/* treebar */

.treebar {
    width: 100px;
}

.treebar .row {
    cursor: pointer;
}

.treesep {
}

/* ------------------- Toolbar --------------- */

div#toolbar_hide {
	position:absolute;
	right:0;
}

div#toolbar {
	float:right;
	width: 170px;
	padding-top: 10px;
	padding-left: 5px;
}

/* ----------------- Side bar ----------------- */

div.toolbar_button {
	padding:0;
	margin-bottom:5px;
	width: 158px;
}

a.toolbar_button:link, a.toolbar_button:visited {
	display:block;
	background:url('/static/images/toolbar_button_bg.png') no-repeat;
	vertical-align:middle;
	font-size:11px;
	font-weight:bold;
	color:#444;
	text-align:left;
	padding-top:5px;
	padding-left:12px;
	height:20px !important;
	height:25px;
	text-decoration:none;
}

a.toolbar_button:hover {
	background-position:0px -25px;
	text-decoration:none;
	color:#902D2D;
}

a.toolbar_button#active_menu {
	color:#902D2D;
	font-weight:bold;
}

a.toolbar_button#active_menu:hover { color:#902D2D; }

/* ------------- End side bar ------- */
