table.tree-grid {
    background-color:#E3E3E3;
    border: none;
    width:100%;
}

table.tree-grid th,
table.tree-grid td {
    text-align: left;
    padding: 2px 5px;
    white-space: nowrap;
    border: none;
}

table.tree-grid .tree-field td {
    padding: 0 2px;
}

table.tree-grid .header th {
    padding: 4px 5px;
    background: url(/static/images/treegrid/header.gif);
}

table.tree-grid .row {
    background-color: #FBFBFB;
}

table.tree-grid .row:hover {
    background-color: #F0F0F0;
}

table.tree-grid .row.selected{
    background-color: #E9E9E9;
}

table.tree-grid .float,
table.tree-grid .integer {
    text-align: right;
}

table.tree-grid .indent,
table.tree-grid .expand,
table.tree-grid .collapse,
table.tree-grid .loading {
    float: left;
	width: 1.5em;
	min-height: 18px;

    background-repeat: no-repeat;
    background-position: center;
}

table.tree-grid .expand {
    background-image: url("/static/images/treegrid/expand.gif");
}

table.tree-grid .expand:hover {
    background-image: url("/static/images/treegrid/expandh.gif");
}

table.tree-grid .collapse {
    background-image: url("/static/images/treegrid/collapse.gif");
}

table.tree-grid .collapse:hover {
    background-image: url("/static/images/treegrid/collapseh.gif");
}

table.tree-grid .loading {
    background-image: url("/static/images/treegrid/loading.gif");
}

table.tree-grid a, table.tree-grid a:active, table.tree-grid a:hover {
	text-decoration: none;
}

table.tree-grid a:hover {
	color: blue;
	border: none;
}
