table.tree-grid {
    width: 100%;
}

table.tree-grid th, td {
    padding: 2px 5px;
    white-space: nowrap;
}

table.tree-grid th {
    text-align: left;
    background-color: #F0F0F0;
    color: #333;
}

table.tree-grid td {
    background-color: #FBFBFB;
}

table.tree-grid span.indent,
table.tree-grid span.plus,
table.tree-grid span.minus {
    float: left;
	width: 1.5em;
	height: 1.5em;
	min-height: 18px;

    background-repeat: no-repeat;
    background-position: center;
}

table.tree-grid span.plus {
    background-image: url("/static/images/plus.gif");
}

table.tree-grid span.minus {
    background-image: url("/static/images/minus.gif");
}
