div#Calendar {
    margin-top: 4px;
}
div#Calendar div.inner {
    padding: 0 10px 0 10px;
}
div.box-a ul.side {
    float: right;
    list-style: none;
    margin: 7px 10px 0 0;
    padding: 0;
}

div.box-a ul.side li {
    display: inline;
    float: left;
    margin: 0 0 0 5px;
}

div.box-a ul.side li a {
    float: left;
    overflow: hidden;
    width: 10px;
    height: 10px;
    background: url(../images/sideicons-a.gif) no-repeat;
    text-indent: -10001px;
}

div.box-a ul.side li a.move {
    background-position: 0 0;
    cursor: move;
}

div.box-a ul.side li a.minimize {
    background-position: -10px 0;
}

div.box-a ul.side li a.close {
    background-position: -20px 0;
}

div.box-a p.side,table.box-a p.side {
    display: inline;
    float: left;
    white-space: nowrap;
    position: relative;
    top: -2px;
    background: white;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}
#Calendar.month-view p.side {
    padding: 2px 35px 0;
}
#Calendar.week-view p.side, #Calendar.day-view p.side {
    padding: 2px 70px 0;
}

div.calendar-a ul.head,table.calendar-a ul.head {
	list-style: none;
    height: 18px;
    margin: 0 0 5px;
    padding: 0;
    background: #F0EEEE;
}

div.calendar-a ul.head li, table.calendar-a ul.head li {
	float: right;
	padding: 0 5px 0 5px;
    color: #9f9f9f;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    background: #D0D0D0;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    margin-right: 2px;
}
div.calendar-a ul.head li:first-child, table.calendar-a ul.head li:first-child {
    margin-right: 0;
}
div.calendar-a ul.head li.notab, div.calendar-a ul.head li.notab:hover {
    background: transparent;
}

div.calendar-a ul.head li.active-tab, div.calendar-a ul.head li.active {
    background: #fff !important;
}

div.calendar-a ul.head li:hover {
    background: #E0E0E0;
}

div.calendar-a ul.head li a, table.calendar-a ul.head li a {
	float: left;
    height: 15px;
    padding: 3px 7px 0;
    color: #555;
}
div.calendar-a ul.head li.active-tab a {
    cursor: default;
}

p.side span {
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 1em;
}
p.side span small {
    color: #aaa;
    font-size: 1em;
    font-weight: 400;
}

div.calendar-a p.paging-a {
    position: relative;
    margin: 0 0 -3px;
    text-align: left;
}

div.calendar-a p.paging-a span {
    position: static;
    float: left;
    padding-right: 10px;
    background: #fff;
}

div.calendar-a p.paging-a span.two {
    float: right;
    padding: 0 0 0 10px;
}

div.calendar-a p.paging-a small {
    position: absolute;
    left: -10001px;
    top: -10001px;
}

/* sidebar */
div#calSidebar {
}

#sidebar #add_groups {
    position:absolute;
    right:1px;
}

#sidebar input {
    display: inline !important;
    vertical-align: middle;
}

#sidebar input[type=checkbox] {
    width: 14px;
}

/* minical */
div.minical-a {
    position: relative;
    /*margin: -10px -10px 0;*/
}

div.minical-a h3 {
    position: relative;
    width: 100%;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 21px;
    text-align: center;
    text-shadow: #fff 0 1px 0;
}

div.minical-a h3 a {
    position: absolute;
    overflow: hidden;
    width: 25px;
    height: 21px;
    background: url(../images/minical-a-arrows.gif) 0 50% no-repeat;
    font-size: 0;
    text-indent: -10001px;
    outline: none;
}

div.minical-a h3 a.prev {
    left: 0;
    border-right: 1px solid #dedbdb;
}
#Calendar a.button-a.prev, a.button-a.next {
    margin-right: 3px;
}
#Calendar a.button-a.prev img, a.button-a.next img {
    position: relative;
    top: 3px;
}
#Calendar a.button-a.next img {
    left: 1px;
}
#Calendar a.button-a:hover {
    background: #666;
}

div.minical-a h3 a.next {
    right: 0;
    border-left: 1px solid #dedbdb;
    background-position: -25px 50%;
}

div.minical-a table {
    width: 100%;
    margin: 0 0 -1px;
}

div.minical-a table td {
    width: 14.29%;
    padding: 0;
    height: 21px;
    border: 1px solid #dedbdb;
    background: url(../images/minical-a-highlite.gif) no-repeat;
    color: #8e8e8e;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    text-shadow: #fff 0 1px 0;
}

div.minical-a table td a {
    display: block;
    height: 20px;
    color: #8e8e8e;
    line-height: 20px;
}

div.minical-a table td a:hover {
    background-color: #e0e0e0;
}

div.minical-a table td.off a {
    color: #bbb;
}

div.minical-a table td.first {
    width: 20px;
    border-left: none;
}

div.minical-a table td.last {
    width: 20px;
    border-right: none;
}

.button.disabled, .button-a.disabled {
    cursor: default;
    background: #666;
    border: 1px solid #333;
}
