#process_canvas {
    position: relative;
    margin: auto;
    outline: none;
}

.node-table {
    width: 100%;
    height: 116px;
}

.node-title {
    padding-left: 34px;
    height: 24px;
    font-size: 10px;
    color: white;
}

.node-text {
    padding-top: 2px;
    padding-right: 2px;
    font-size: 11px;
}

.node-button {
    width: 17px;
    height: 17px;
    padding: 1px;
}

.node-menu {
    padding-right: 6px;
}

.node-menu img,
.node-button img {
    cursor: pointer;
}

