.node-table {
    width: 100%;
    height: 116px;
}

.node-title {
    padding-left: 34px;
    height: 24px;
    font-size: 10px;
    color: white;
}

.node-button {
    width: 17px;
    height: 17px;
    padding: 1px;
    cursor: pointer;
}

