div.dashbar {
	min-width: 100px;
	min-height: 250px;
}

div.dashbar-hover {
	/*border: 2px dashed gray;*/
}

div.dashlet {
	margin-bottom: 4px;
	border: solid 2px transparent;
}
div.dashlet:hover {
	border: dotted 2px #bbb8a9;
}

div.dashlet-title {
    padding: 2px 0px;
    white-space: nowrap;
    cursor: move;
    font-weight: bold;
    font-size: 140%;
}

div.dashlet .dashlet-button {
    width: auto;
    margin: 0 1px;
    cursor: pointer;
    white-space: nowrap;
}

div.dashlet-content {
	padding: 2px;
}

