form table {
    margin-top: 20px;
    padding: 5px;
    border: 4px double #c0c0c0;
}

form th {
    padding: 0 4px;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
}

form select {
    min-width: 100px;
    height: 18px;
}

.fieldcol {
	width: 70%;
}

.fieldcol .requiredfield {
    background-color: #CCD9FF;
    height: 18px;
    -moz-border-radius:3px 3px 3px 3px;
}

.fielderror {
    color: red;
}

input.requiredfield,
select.selectfield {
	width: 300px;
	-moz-border-radius:3px 3px 3px 3px;	
}

td.db_action_string {
	color: #777777;
	font-size: 12px;
	font-weight: bold;
	padding: 0 4px;
	text-transform: uppercase;	
} 
