form th {
    padding: 0 4px;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
}

form select {
    min-width: 100px;
    height: 20px;
}

.fieldcol {
	padding: 3px;
}

.fieldcol .requiredfield {
    background-color: #CCD9FF;
    height: 18px;
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
}

.fielderror {
    color: red;
}

input.requiredfield,
select.selectfield {
    width: 300px;
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
}

.db-form .action {
	color: #777777;
	font-size: 12px;
	font-weight: bold;
	padding: 0 4px;
	text-transform: uppercase;
}

.db-form .form-container {
    margin: 20px auto;
    min-width: 10%;
    background: #F1F2F1 none repeat scroll 0 0;
    border: 1px solid #5A5858;
}

.db-form .static_boxes {
    display: inline; /*IE7 */
    display: inline-block;
    padding: 0 8px;
	line-height: 20px;
}

.db-form .current {
    background: #CCCCCC;
}

.db-form .links {
    white-space: nowrap;
    text-align: right;
    padding: 0 5px 0 0;
}
