form table {
    margin-top: 20px;
    padding: 5px;
    border: 4px double #c0c0c0;
}

form th {
    padding: 0 4px;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
}

form select {
    min-width: 100px;
    height: 18px;
}

.fieldcol {
	width: 70%;
}

.fieldcol .requiredfield {
    background-color: #CCD9FF;
    height: 18px;
    -moz-border-radius:3px 3px 3px 3px;
}

.fielderror {
    color: red;
}

input.requiredfield,
select.selectfield {
	width: 300px;
	-moz-border-radius:3px 3px 3px 3px;	
}

.db-form {
	padding-bottom: 15px;
}

.db-form .action {
	color: #777777;
	font-size: 12px;
	font-weight: bold;
	padding: 0 4px;
	text-transform: uppercase;
}

.db-form .form-container {
    margin: 0 auto;
}

.db-form .static_boxes {
    display: inline-block;
    padding: 0;
    text-align: center;
    margin: 0 3px;
}

.db-form .current {
    background: #CCCCCC;
}

.db-form .links {
    white-space: nowrap;
    text-align: right;
}
