.gridview {
    border: none;
}

.grid {
    border: none;
    border-collapse: collapse;
}
.grid-content {
    border: none;
    padding: 2px 5px;
}

.grid-row {
    background-color: white;
}

.grid-row-odd {
	background: white;
    cursor: pointer;
}
.grid-row-even {
	background: #F3F3F3;
    cursor: pointer;
}

.grid-row:hover, .grid-row-group:hover {
    background-color: #DDDDDD;
}

.grid-rowdrop {
    background-color: #C0C0C0;
    position: relative;
}

.grid-cell {
    padding: 2px 4px;
    border: none;
}

.grid-cell.selector {
    width: 1%;
    max-width: 8px;
    min-width: 8px;
    text-align: center;
    vertical-align: middle;
}

.grid-cell.button {
    text-align: right;
}

.grid-cell.button button {
    margin: 0 1px 0 0;
    width: auto;
}

.grid-header .grid-cell {
    background: url(../images/gradientlinebg.gif);
    border-bottom: 1px solid #E3E3E3;
    font-weight: bold;
    text-align: left;
}

.grid-header .grid-cell .sortup {
    background: url(../images/arrow_up.gif) no-repeat center;
}

.grid-header .grid-cell .sortdown {
    background: url(../images/arrow_down.gif) no-repeat center;
}

.grid-header .grid-cell.sortable {
    cursor: pointer;
}

.grid-row .grid-cell {
    border-bottom: 1px solid #E3E3E3;
}

.grid-row-group .grid-cell {
    border-bottom: 1px solid #E3E3E3;
}

.grid-row.editors .grid-cell {
    background-color: #FFFFBF;
    padding: 2px 2px 2px 7px;
}

.grid-row.editors input,
.grid-row.editors select,
.grid-row.editors textarea {
    width: 99%;
}

.grid .float,
.grid .float_time,
.grid .floattime,
.grid .integer {
    text-align: right;
}

.grid-cell.many2many,
.grid-cell.one2many {
    text-align: center;
}

.gridview .pagerbar {
    height: 22px;
    vertical-align: middle;
    overflow: hidden;
    padding: 3px 4px 1px 10px;
    text-align: right;
    margin: 0;
    line-height: 1;
}

.gridview .pagerbar .pagerbar-cell {
    vertical-align: middle;
    padding: 2px 5px;
}

.gridview .pagerbar .pagerbar-cell.footer .pager {
    background: none;
}

.gridview .pagerbar .pagerbar-cell .pager-table {
    background: none;
    border: none;
    width: 100%;
}

.gridview .pagerbar .pagerbar-cell .pager-table .pager-cell {
    padding: 0;
    white-space: nowrap;
}

.gridview .pagerbar .pagerbar-cell .pager-table .pager-cell h2 {
    background: none;
    margin: 0;
    padding: 0 10px 0 0;
    border: none;
    color: #252424;
    font-size: 1.1em;
    line-height: 1;
}

.gridview .pagerbar .pagerbar-cell .pagerbar-header ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.listButton {
    width: 25px;
    text-align: center;
}

.listImage {
    cursor: pointer;
}

.field_sum .grid-cell {
    font-weight: bold;
    color: #BAB8B8;
    text-transform: uppercase;
}

tr.field_sum {
    border: none;
    border-bottom: 1px solid #f4f2f2;
}

tr.field_sum td#total_sum_value {
    text-align: right;
    padding: 2px;
}

tr.field_sum td#total_sum_title {
    text-align: left;
    padding: 2px;
}

strong#total_sum_label {
    color: #7D7979;
    font-size: 0.9em;
}

.sum_value_field {
    border-top: 1px inset;
    display: block;
    padding: 0 1px;
    color: #7D7979;
    font-size: 0.9em;
}
/**
 * vim: sts=4 st=4 et
 *
 */
