.gridview {
    border: none;
    /*border-top: 1px solid #999;
    margin: 0 0 10px; 
    padding: 0; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    background: #fff; 
    box-shadow: 0 1px 1px #ddd; 
    -moz-box-shadow: 0 1px 1px #ddd; 
    -webkit-box-shadow: 0 1px 1px #ddd; */
}

.grid {
    border: none;
    border-collapse: collapse;
}

.grid-row {
    background-color: white;
}

.grid-row:hover {
    background-color: #F3F3F3;
}

.grid-rowdrop {
	background-color: #C0C0C0;
	position: relative;
}

.grid-cell {
    padding: 2px 4px;
    border: none;
}

.grid-cell.selector {
    width: 1%;

    max-width: 8px;
    min-width: 8px;

    text-align: center;
    vertical-align: middle;    
}

.grid-cell.button {
    text-align: right;
}

.grid-cell.button button {
    margin: 0px;
    margin-right: 1px;
	width: auto;
}

.grid-header .grid-cell {
    background:url(../images/gradientlinebg.gif);
    border-bottom: 1px solid #E3E3E3; 
    font-weight: bold;
    text-align: left;
}

.grid-header .grid-cell .sortup {
    background: url(../images/arrow_up.gif) no-repeat center;
}

.grid-header .grid-cell .sortdown {
    background: url(../images/arrow_down.gif) no-repeat center;
}

.grid-header .grid-cell.sortable {
    cursor: pointer;
}

.grid-row .grid-cell {
    border-bottom: 1px solid #E3E3E3;
}

.grid-row-group .grid-cell {
    border-bottom: 2px solid #E3E3E3;
    border-right: 2px solid #FFFFFF;
    color: blue;
}

.grid-row.editors .grid-cell {
    background-color: #FFFFBF;
    padding: 2px;
}

.grid-row.editors input,
.grid-row.editors select,
.grid-row.editors textarea {
    width: 99%;
}

.grid .float,
.grid .float_time,
.grid .floattime,
.grid .integer {
    text-align: right;
}

.grid-cell.many2many,
.grid-cell.one2many {
    text-align: center;
}

.gridview .pagerbar {
    height:22px;
    vertical-align: middle; 
    overflow: hidden; 
   /* width: 100%; 
    margin: 0 0 15px; 
    padding: 2px 0;*/
    padding: 3px 4px 1px 10px;
    text-align: right;
    margin: 0;
    line-height: 1;
}

.gridview .pagerbar .pagerbar-cell {
    /*background: #f3f3f3;
    border-bottom: 1px solid #999; 
    padding-left: 10px;
    padding: 2px 4px;*/
    vertical-align: middle;
}

.gridview .pagerbar .pagerbar-cell.footer .pager {
    background: none;
}

.gridview .pagerbar .pagerbar-cell .pager-table {
	background: none;
	border: none;
}

.gridview .pagerbar .pagerbar-cell .pager-table .pager-cell{
	padding: 0;
	white-space: nowrap;
}

.gridview .pagerbar .pagerbar-cell .pager .paging {
	background: #FFFFFF none repeat scroll 0 0;
}
.gridview .pagerbar .pagerbar-cell .pager-table .pager-cell h2 {
	background: none; margin: 0; padding: 0 10px 0 0; border: none; color: #252424; font-size: 1.1em; text-transform: none; line-height: 1;
}

 /* .gridview .pagerbar .pagerbar-cell .pagerbar-header {
	position: absolute; 
	float: left; 
	padding-right: 15px; 
	border: none;
}


.gridview .pagerbar .pagerbar-cell .pagerbar-header h2 {
	background: none; margin: 0; padding: 0 10px 0 0; border: none; color: #252424; font-size: 1.2em; text-transform: none; line-height: 1;
} */


.gridview .pagerbar .pagerbar-cell .pagerbar-header ul {
	float: left; list-style: none; margin: 0; padding: 0;
}


.gridview .pagerbar .pagerbar-links {
    float: left;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    padding: 3px 4px 1px 10px;
    background : none;
}

.gridview .pagerbar .pagerbar-links a {
    color: #5C5B5B;
    text-decoration: none;
    font-size: 0.8em;
}

.gridview .pagerbar .pagerbar-links a:hover {
    text-decoration: none;
}

.listButton {
    width: 25px;
    text-align: center;
}

.listImage {
    cursor: pointer;
}

.field_sum .grid-cell {
	font-weight: bold;
	color: #BAB8B8;
	text-transform: uppercase;
    /*border-bottom: 1px solid #999;
    border-top: 1px solid #999; */
}

/**
 * vim: sts=4 st=4 et 
 *
 */
