.menubar {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.menubar span {
    margin: 0;
    padding: 0;
}

.menubar a {
    text-align: center;
    padding: 4px 2px;
    margin: 0 1px 0 0;
    color: #EEEEEE;
    letter-spacing: 0;
}

.menubar a:hover {
    background-color: #707070;
    color: #EEEEEE;
}

/* Shortcuts manipulation */
#shortcut_add_remove {
    height: 34px;
    padding: 0;
    width: 30px;
    cursor: pointer;
}

.shortcut-add {
    background: url(../images/add_shortcut.png) no-repeat;
}
.shortcut-remove {
    background: url(../images/remove_shortcut.png) no-repeat;
}

/* ================ */
#shortcuts {
    border-bottom: 0;
    border-collapse: separate;
}

#shortcuts div {
    display: block;
    float: left;
    position: absolute;
    padding: 6px 5px;
    border-top: 1px solid #606060;
    left: 180px;
    top: 33px;
    width: 100%;
    height: auto;
    margin: 0;
    line-height: 1.2;
    overflow: hidden;
}

#shortcuts span {
    margin: 0;
    text-align: center;
    color: #fff;
    border-right: 1px solid #909090;
    padding-left: 1px;
}

#shortcuts a {
}

div.contextmenu {
    background-color: #444;
    border: 1px solid #000;
    white-space: nowrap;
    position: absolute;
    padding: 2px;
    z-index: 100;
}

div.contextmenu a,
div.contextmenu span {
    display: block;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px;
    color: #FFF;
    cursor: pointer;
}


div.contextmenu hr {
    margin: 1px 0 !important;
}

div.contextmenu td {
    padding: 1px;
}

div.contextmenu a:hover,
div.contextmenu span:hover {
    color: #FFF;
    background-color: #505050;
    text-decoration: none;
}

div.contextmenu a.disabled,
div.contextmenu span.disabled {
    color: #C0C0C0;
}

