table.menubar {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

table.menubar td {
    margin: 0;
    padding: 0;
}

table.menubar a {
/*  display: block; */
    text-align: center;
/*	background-color: #666; */
    padding: 4px 2px;
    margin: 0 1px 0 0;
    color: #EEEEEE;
    text-decoration: none;
    letter-spacing: 0;
}

table.menubar a:hover {
    background-color: #707070;
    text-decoration: none;
}

table.menubar div.submenu {
    background-color: #666;
    border: 1px solid #333;
    position: absolute;
    left: 0px;
    margin-left:  -1px;
    z-index: 3;
    padding: 4px;
    display: none;
}

table.menubar div.submenu a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #FFF;
    margin: 0px;
    float: none; 
    padding: 6px 5px 6px 2px;
}

table.menubar div.submenu a:hover {
    background-color: #505050;
    text-decoration: none;
}

div.contextmenu {
    background-color: #5C5B5B;
    border: 1px solid #505050;
    white-space: nowrap;
    position: absolute;
    padding: 2px;
    z-index: 100;
    text-align: right;
    display: none;
}

div.contextmenu a.customise_menu_options,
div.contextmenu span {
    display: block;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px;
    color: #FFFFFF;
    cursor: pointer;
}

div.contextmenu a:hover {
	background-color: #CCCCCC;
	color: #5C5B5B
}

td#shortcuts_menu {
	border-right: 1px solid #CCCCCC;
}

td#shortcuts_menu a.scMore_arrow {
	padding-left: 5px;
}

/**
 * vim: sts=4 st=4 et 
 *
 */
