table.menubar {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

table.menubar td {
    margin: 0;
    padding: 0;
}

table.menubar a {
/*  display: block; */
    text-align: center;
/*	background-color: #666; */
    padding: 4px 2px;
    margin: 0 1px 0 0;
    color: #EEEEEE;
    text-decoration: none;
    letter-spacing: 0;
}

table.menubar a:hover {
    background-color: #707070;
    text-decoration: none;
}

table.menubar div.submenu {
    background-color: #666;
    border: 1px solid #333;
    position: absolute;
    left: 0px;
    margin-left:  -1px;
    z-index: 3;
    padding: 4px;
}

table.menubar div.submenu a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #FFF;
    margin: 0px;
}

table.menubar div.submenu a:hover {
    background-color: #505050;
    text-decoration: none;
}

div.contextmenu {
    background-color: #F0EEEE;
    border: 1px solid #505050;
    white-space: nowrap;
    position: absolute;
    padding: 2px;
    z-index: 100;
}

div.contextmenu a,
div.contextmenu span {
    display: block;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px;
    color: #969494;
    cursor: pointer;
}

div.contextmenu a:hover,
div.contextmenu span:hover {
    color: #969494;
    background-color: #505050;
    text-decoration: none;
}

div.contextmenu a.disabled,
div.contextmenu span.disabled {
    color: #C0C0C0;
}

/**
 * vim: sts=4 st=4 et 
 *
 */
