div.notebook {
    overflow: hidden;
    margin: 0 0 10px;
    padding: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 1px #ddd;
    -moz-box-shadow: 0 1px 1px #ddd;
    -webkit-box-shadow: 0 1px 1px #ddd;
}

div.notebook-tabs {
    position: relative;
}

div.notebook-tabs-left,div.notebook-tabs-right {
    position: absolute;
    top: 0px;
    width: 18px;
    display: none;
    cursor: pointer;
    z-index: 2;
}

div.notebook-tabs-right {
    right: 0px;
    background: #F0EEEE url(../images/notebook/nb-right.png) no-repeat center;
}

div.notebook-tabs-left {
    left: 0px;
    background: #F0EEEE url(../images/notebook/nb-left.png) no-repeat center;
}

div.notebook-tabs-right-disabled {
    background: #F0EEEE url(../images/notebook/nb-right-d.png) no-repeat center;
    cursor: default;
}

div.notebook-tabs-left-disabled {
    background: #F0EEEE url(../images/notebook/nb-left-d.png) no-repeat center;
    cursor: default;
}

div.notebook-tabs-wrap {
    position: relative;
    overflow: hidden;
}

div.notebook-tabs-wrap-scrollable {
    margin: 0 18px;
}

ul.notebook-tabs-strip {
    display: block;
    float: left;
    width: 5000px;
    margin: 0 0 5px;
    padding: 0 0 0 0;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    background: #ccc;
    list-style: none;
    /* border-bottom: solid 1px gray; */
}

li.notebook-tab {
    position: relative;
    float: left;
    /*margin-left: 3px;
    border: 1px solid gray;
    background-color: #c0c0c0;
    margin-bottom: -1px;*/
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

li.notebook-tab-active { /*background-color: #fff;
    border-bottom: 1px solid white; */
    position: relative;
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    background: #999 url(/openerp/static/images/calendar-a-head-active.gif) -10001px
        100% no-repeat;
    background-position: 50% 100%;
}

li.notebook-tab a.tab-title {
    display: block;
    outline: none;
    /*padding: 3px 0.5em;
    color: #222; */
    text-decoration: none !important;
    float: left;
    height: 17px;
    padding: 7px 0 0;
    color: #9f9f9f;
    text-shadow: #fff 0 1px 0;
    float: left;
    height: 17px;
    padding: 7px 7px 0 7px;
    color: #888;
    text-shadow: #fff 0 1px 0;
}

li.notebook-tab-active a.tab-title {
    color: #fff;
}

li.notebook-tab span.tab-close {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    background: transparent url(../images/notebook/tab-close.png) no-repeat center;
    cursor: pointer;
}

li.notebook-tab-closable a.tab-title {
    padding-right: 18px;
}

div.notebook-pages { /*border: 1px solid gray;
    border-top: none; */
    padding: 10px 15px 1px;
}

div.notebook-page {
    display: none;
}

div.notebook-page-active {
    display: block;
}