.pager {
    font-size: 11px;
    font-weight: bold;
    color: #999;
    vertical-align: middle;
    overflow: hidden;
}
.pager select {
    width: auto;
}

.pager .paging {
    line-height: 1;
    float: right;
}

.pager .paging span {
    vertical-align: middle;
}

.pager .paging .nav {
    display: -moz-inline-stack;
    display: inline; /*IE7 */
    display: inline-block;
    overflow: hidden;
    height: 14px;
    font-size: 0;
    text-align: left;
    text-indent: -10001px;
    vertical-align: middle;
    width: 14px;
}

.pager p.paging a.new {
    background: none;
}

.pager .paging .first {
    margin: 0;
    background: url(../images/pager_first.png) no-repeat;
}
.pager .paging .first.inactive {
    background-image: url(../images/pager_first_inactive.png);
}

.pager .paging .prev {
    background: url(../images/pager_left.png) no-repeat;
}
.pager .paging .prev.inactive {
    background-image: url(../images/pager_left_inactive.png);
}

.pager .paging .last {
    margin: 0;
    background: url(../images/pager_last.png) no-repeat;
}
.pager .paging .last.inactive {
    background-image: url(../images/pager_last_inactive.png);
}

.pager .paging .next {
    background: url(../images/pager_right.png) no-repeat;
}
.pager .paging .next.inactive {
    background-image: url(../images/pager_right_inactive.png);
}
span.pager_info {
    cursor: pointer;
}
span.pager_info:hover {
    text-decoration: underline;
}

* html .paging a {
    display: inline;
    text-indent: 0;
}

*:first-child+html .paging a {
    display: inline;
    text-indent: 0;
}

.pager a:hover {
    text-decoration: none;
}
