body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #000000;
}

body,
table {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #990000;
}

a:hover {
    text-decoration: underline;
    color: #690000;
}

a.imglink {
    text-decoration: none;
}

a:hover .imglink {
    border: none;
}

.dimmed-text {
    color: #bbb;
}

.dimmed-text a:hover {
    color: #333;
    text-decoration: none;
}

td.powered {
	font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase;
	color: #969494;
}
td.powered a {
	color: #969494;
}

td.dimmed-text { 
    padding: 0 0 0 5px;
}

td.dimmed-text .footer a{
	color: #5C5B5B;
	font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase;
	margin: 0;
}

td.dimmed-text span{
	color: #CCCBCB;
	padding: 0 5px;
}

hr {
    border: 0px;
    background-color: #888;
    height: 1px;
}

input,
select,
textarea {
    background-color: #fff;
    color: #000;
    border: 1px solid #999999;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #990033;
}

input.checkbox,
input.radio {
    background-color: transparent;
    border: none;
    margin: 0px;
}

fieldset {
    border: solid 1px #888888; 
}

div.message-box {
	background: transparent url(../images/nav-bg-a.png) repeat-x scroll 0 0;
	border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    color: #FFFFFF;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
}

div.question {
	position: absolute;
	display: inline;
	text-align: center;
	width: 174px;
	height: 78px;
	font-size: 13px;
	line-height: 1.5em;
	background: url(../images/bubble.png) left top no-repeat;
	padding: 10px 0 0 0;
	text-shadow: 0px 1px 0px #fff;
	margin-left: -18em;
	margin-top: 1em;
	opacity: 0;
}

span.yes, span.cancel {
	margin-top: .5em;
	margin-right: .5em;
	cursor: pointer;
	display: inline-block;
	width: 63px;
	height: 21px;
	color: #fff;
	font-weight: 600;
	text-shadow: 0px 1px 0px #000;
	background: url(../images/button.png) left top no-repeat;
}

div#search_filter_data table {
	width: auto;
	border: none;
}

div#search_filter_data table.fields td.item {
	width: auto;
}

table#search_table td{
	text-align: center;
	font-weight: bold;
}

td.item table {
	border: none;
}

table.fields {
	border: none;
}

button {
    border: solid 1px #888888;    
    background: url(../images/button-a.gif) repeat-x;
    color: #FFFFFF;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer; 
    border: 1px solid #aaa9a9; 
    border-color: #c6c4c4 #aaa9a9 #797878; 
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    box-shadow: 0 1px 0 #fff; 
    -moz-box-shadow: 0 1px 0 #fff; 
    -webkit-box-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    text-transform: uppercase; 
    text-shadow: #6a6969 0 1px 0;
}

table.toolbar button {
	font-size: 0.9em;
}

td.item button table {
	margin: 0;
	border: none;
	font-weight: 600;
	font-size: 0.8em;
}

td.item button table td {
	border: none;
	padding: 0;
}

div.group-data {
	white-space: nowrap;
}

div.group-data table.fields {
	width: 0%;
}

div.toolbar button {
	font-size: 0.9em;
}

button.btn_filter {
	border: solid 1px #888888;    
    background: url(/static/images/button_bg.png) repeat-x left bottom;
    color: #000;
    padding: 0px 2px;
    font-size: 11px;
    cursor: pointer;
}

button.btn_filter:hover {
    background: url(/static/images/button_bg2.png) repeat-x left top;
}

table#filter_table {
	margin: 0;
}

table#filter_table td.filter_column {
	text-align: left;
}

table#filter_table td.filter_column select {
	width: 80px;
}

table#filter_table td.filter_column input.qstring {
	width:100px;
}

table#filter_table td.image_col {
	padding-left: 4px;
	text-align: left;
}
table#filter_table td.and_or {
	padding-left: 5px;
	text-align: left;
}

table#filter_table td.and_or select {
	width: 55px;
}

/* ============== SEARCH FORM start ==============*/

div#search_filter_data input.datetime,
div#search_filter_data input.char,
div#search_filter_data input.float,
div#search_filter_data input.m2o_search,
div#search_filter_data select.selection {
	background-color: #fff;
    color: #000;
    border: 1px solid #999999;
	width: 95px;
}

div.inactive_filter {
	cursor: pointer;
	background: url(../images/button_unchecked.gif) repeat-x left bottom;
	border: solid 1px #888888; 
	white-space: nowrap;
}

div.active_filter {
	cursor: pointer;
	background: url(../images/button_checked.gif) repeat-x left bottom; 
	border: solid 1px #888888; 
	white-space: nowrap;
}

td.group-expand, img.group_expand {
	cursor: pointer;
	background: url(../images/treegrid/expand.gif) no-repeat top left;
	padding-left: 15px;
}

td.group-expand:hover, img.group_expand:hover {
	background: url(../images/treegrid/expandh.gif) no-repeat top left;
}

td.group-collapse, img.group_collapse {
	cursor: pointer;
	background: url(../images/treegrid/collapse.gif) no-repeat top left;
	padding-left: 15px;
}

td.group-collapse:hover, img.group_collapse:hover {
	background: url(../images/treegrid/collapseh.gif) no-repeat top left;
}

div.group-expand {
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	padding: 5px;
	white-space: nowrap;
}

div.group-expand h2 {
	margin: 3px; 
	padding: 0 0 0 10px; 
	background: url(../images/group-a-header-a.png) 0 50% no-repeat; 
	color: #7d7979; 
	font-size: 0.8em; 
	font-weight: bold; 
	text-transform: uppercase;
}
div.group-expand h2 span {
	padding: 0 6px; 
	background: #f0eeee;
}

div.group-expand h2:hover { 
	background: url(../images/group-a-header-a2.png) 0 50% no-repeat; 
}

#groupdata_table {
	margin: 0;
	display: block;
}

div.group-collapse {
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}

div.group-collapse h2 {
	background: url(../images/group-a-header-b.png) 0 50% no-repeat;
	margin: 3px; 
    padding: 0 0 0 10px; 
    color: #7d7979; 
    font-size: 0.8em; 
    font-weight: bold; 
    text-transform: uppercase;
}
div.group-collapse h2 span {
	padding: 0 6px; 
	background: #f0eeee;
}

div.group-collapse h2:hover {
	background: url(../images/group-a-header-b2.png) 0 50% no-repeat; 
}

div.custom-filter {
	overflow: hidden; width: 100%; margin: 0 0 10px;
}

div.custom-filter ul {
	float: left; list-style: none; margin: 0; padding: 5px 0 0;
}

div.custom-filter ul li {
	display: inline; 
	float: left;
	margin: 0;
	padding-right: 5px;
}

div.custom-filter ul li select {
	float: left; 
	height: 17px; 
	padding: -1px 10px 0; 
	border: 1px solid #aaa9a9; 
	border-color: #e5e3e3 #dad9d9 #cccbcb; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	box-shadow: 0 1px 0 #fff; 
	-moz-box-shadow: 0 1px 0 #fff; 
	-webkit-box-shadow: 0 1px 0 #fff; 
	color: #8d8d8d; 
	white-space: nowrap; 
	font-size: 1em; 
	font-weight: 600; 
	line-height: 11px;
	text-shadow: #fff 0 1px 0;
}

div.custom-filter ul li a.button {
	cursor: pointer; float: left; height: 11px; padding: 3px 9px 0; border: 1px solid #aaa9a9; border-color: #e5e3e3 #dad9d9 #cccbcb; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; background: url(../images/button-a.gif) 0 -26px repeat-x; color: #8d8d8d; white-space: nowrap; font-size: 1em; font-weight: 600; line-height: 11px; text-transform: uppercase; text-shadow: #fff 0 1px 0;
}

div.custom-filter ul li a.button:hover, div.custom-filter ul li a.button:focus, div.custom-filter ul li a.button:active {
	border-color: #c6c4c4 #aaa9a9 #797878; background-position: 0 0; text-shadow: #6a6969 0 1px 0; color: #fff;
}
div.custom-filter ul li span.add {
	display: block; overflow: hidden; width: 6px; margin: 0 -2px; background: url(../images/button-b-icons-add.gif) 0 50% no-repeat; font-size: 0; text-indent: -10001px;
}

/* ============== SEARCH FORM end ==============*/

button.inactive {
    background: #eeeeee;
    border: solid 1px #888888;
    color: #999999;
}

*[disabled] {
    color: #999;
}

.item .readonlyfield {
    color: black;
}

#container {
    margin: auto;
    width: 100%;
}

/* ---------- Header ----------- */

table.header {
    background: url(../images/grdheader.gif) repeat-x left top;
    width: 100%;
}

table.menu_connection {
    padding: 0px;
    border: 0px;
    height: 25px;
    white-space: nowrap;
}

table.menu_connection td.menu_connection_welcome {
    background: #363636;
    padding-left: 10px;
    padding-right: 18px;
    color: white;
}

table.menu_connection td.menu_connection_links {
    background: url(../images/mainmenu_button.png) repeat-x;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

table.menu_connection a {
    color: white;
    padding: 0 2px;
}

table.menu_connection a:hover {
    color: white;
}

.menu_connection_right {
    background: transparent url(../images/diagonal_right.gif) no-repeat scroll right;
}

/* ---------------------- Attachment --------------- */

form#attachment-box {
	font-weight: 600;
	display:none;
}

form#attachment-box .attachment_box_head {
	border-bottom: 1px solid silver;
}

.attachment-header {
	text-align: center;
}

#attachment-box input#FormSubmit ,input#FormCancel {
    background: #EFEFEF;
    border: 1px solid #888;
    padding: 3px 4px;
    color: #af2d21;
    margin: 0px 5px 0px 0px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    font-weight: 600;
}

#attachment-box input:focus {
    outline: none;
}

span.ValidationErrors {
    display: inline-block;
    font-size: 12px;
    color: #D00;
    padding-left: 10px;
    font-style: italic;
}

.ErrorField {
    border: 1px solid #D00;
    color: #D00;
    background: #FFFFFE;
}

.poof {
    background: transparent url(../images/poof.png) no-repeat 0 0;
    cursor: pointer;
    display: none;
    height: 32px;
    position: absolute;
    width: 32px;
}

/* ----------------- Form Content Start -------------- */

td.content_header_space {
    padding: 10px 5px 0px 0px;
}

/* ----------------- Form Content End -------------- */

/* ------------------- Footer Start--------------- */

#footer {
    clear: both;
    text-align: center;
    font-size: 11px;
    color: #777777;
    line-height: 20px;
    border-top: 1px solid #888;
    margin-top: 25px;
}

#footer a {
    color: #777777;
    text-decoration: underline;
}

/* ------------------- Footer End --------------- */

div.button_right {
    position: relative;
    float: right;
}

div#tab_content {
    background: #fbfbfb;
    display: block;
    border-bottom: 1px solid #bbb8a9;
    padding: 5px;
}

/*------------------------------------------------------------------*/

button.static_buttons {
	background: transparent url(/openerp/static/images/nav-bg-a.png) repeat-x scroll 100% 0;
	white-space: nowrap; 
	height: 20px;
	font-size: 10px; 
	color: #FFFFFF; 
	width: 80px;
	text-transform: uppercase;
}

button.static_buttons:hover, button.static_buttons:focus  {
	font-weight: bold;
}

div.vline {
    background-color: #C3D9FF;
    width: 1px;
    height: 100%;
}

div.scrollbox {
    width: 100%;
    height: 100%;
    overflow: auto;
}

div.box,
div.box2 {
    background-color: #F6F6F6;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

div.box {
    width: 400px;
    padding: 10px;
    margin: auto;
}

div.box2 {
    padding: 10px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

td.errorbox {
    padding: 10px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F6F6F6;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

td.welcome {
    text-align: center;
    color: #990033;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

td.label_header {
    text-align: center;
    color: #990033;
    font-size: 12px;
    font-weight: bold;    
}

div.label_header {
    text-align: center;
    color: #990033;
    font-size: 12px;        
}

div.message {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    border: none;
}

div.welcome-message {
	background: url(../images/nav-bg-a.png) repeat-x;
	color: #FFFFFF; 
	font-weight: bold; 
	text-shadow: #111 0 1px 0; 
	text-decoration: none !important;
	text-align: center;
    font-size: 16px;
}

/* view style */
.view {
    width: 100%;
}

.view .spacer {
    width: 4px;
    height: 4px;
}

.view .title {
    background: url(../images/grdline1.gif) repeat-x left top;
    border-top: 1px solid #E3E3E3;
    height: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.view table.one2many,
.view table.many2many {
    /*border: 1px solid #bbb8a9; */
    border: none;
}

.view td.grid-cell table.many2many {
    border: none;    
}

.view .separator {
    font-weight: bold;
    border-bottom: 1px solid #666;
    margin: 6px 0px;
}

.view .selection_search {
	background-color: turquoise;
}

td.label {
	color:#777777;
	font-size:10px;
	font-weight:bold;
	padding:0 4px;
	text-align:right;
	text-transform:uppercase;
	white-space:nowrap;
}

td.item input,
td.item select,
td.item textarea,
td.item button {
    /*width: 99%; */
}

td.item input {
	-moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
	padding: 1px 3px;
	background: #FFFFFF none repeat scroll 0 0;
	border: 1px solid #CECBCB;
	vertical-align: middle;
}

table#m2o_table td#m2o input {
	height: 16px;
	width: 100px;
	position: relative; 
	border-right: none;
}

img.m2o_select {
	-moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border: 1px solid #CECBCB;
    vertical-align: middle;
    margin-left: -4px;
    height: 18px;
}

td.item select {
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	background: #FFFFFF none repeat scroll 0 0;
	border: 1px solid #CECBCB;
	vertical-align: middle;
	padding: 0px 1px;
}

.resizable-textarea .grip {
    background:#EEEEEE url(../images/textarea-grip.png) no-repeat scroll center 2px;
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    width: 99%; 
    height:9px;
    overflow:hidden;
}

td.item .mceSelectList {
    width: auto;
}

td.item .checkbox,
td.item .radio {
    width: auto;
}

#view_form .translatable {
    background: url(../images/stock/stock_translate.png) no-repeat right center;
}

#view_form .fielderror,
#search_form .fielderror  {
    color: #FF0000;
}

#view_form .requiredfield {
    background-color: #D2D2FF;
}

#view_form .errorfield,
#search_form .errorfield  {
    background-color: #FF6666;
}

#view_form .readonlyfield {
    background-color: #EEEEEE;
}

td.view_form_options {
	 padding: 0px 10px 3px 10px;
}

/* treebar */
.treebar {
    padding-right: 5px;
    width: 100px;
}

.treebar .row {
    cursor: pointer;
}

/* LOGIN AJAX FORM*/

input.user_pass {
	width: 150px;
}

button.click_login {
	 width: 80px;
	 white-space: nowrap;	
}

div.invalid_login {
	display: none;
	color: red;
	text-align: center;
}

/* NORMAL LOGIN*/
input.db_user_pass {
	width: 300px;
}

td.db_login_buttons {
	text-align: right;
	padding-right: 55px;	
}

/* POPUPS */

td.save_close {
	padding: 0;
}

/* VIEWED */

div.viewed_tree {
	overflow-x: auto;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	border: solid #999999 1px;
}

/* Binary Widget */
div.binary_buttons {
	white-space: nowrap; width: 150px;
}

/* Button Widget */
div.button_wid_string {
	text-align: center;
	background-repeat: no-repeat;
	padding: 3px 0 0 20px;
	height: 17px;	
}

/* Progreds Bar Widget */
div#progress_div1 {
	position: relative;
	border: 1px solid gray;
	font-size: 11px;
}

div#progress_div2 {
	position: absolute;
	top:0px;
	left: 0px;
	background: #afafaf;
	height: 100%;
}

div#progress_div3 {
	 position: absolute;
	 top:0px;
	 left: 0px;
	 width: 100%;
	 height: 100%;
	 text-align: center;	
}

/**
 * vim: sts=4 st=4 et 
 *
 */
