.search_filters {
    white-space: nowrap;
    border-collapse: separate;
    width: auto;
}

.search_filters.group_box {
    padding: 0 !important;
}

td.search_fields {
    padding: 0 4px;
}

div#search_filter_data table,
div.toolbar table,
table.titlebar,
table.view {
    border: none;
}

table#search_table td {
    font-weight: bold;
    text-align: left !important;
}

.filter_item {
    padding: 0;
}

td.item table {
    border: none;
}

table.fields {
    border: none;
}

button, a.button {
    border: 1px solid #666666;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    background: url(../images/button-a.gif) repeat-x;
    color: #fff;
    white-space: nowrap;
    font-size: 0.8em !important;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
    text-shadow: #6a6969 0 1px 0;
    padding: 0 10px;
    cursor: pointer;
}
button:hover, .button:hover,
button:focus, .button:focus,
button:active, .button:active {
    background: #666;
}

.toolbar button {
    font-size: 0.9em;
}

td.item button table {
    margin: 0;
    border: none;
    font-weight: 600;
    font-size: 0.8em;
}

td.item button table td {
    border: none;
    padding: 0;
}

div.group-data {
    white-space: nowrap;
}

div.group-data table.fields {
    width: 0%;
}

table#filter_table {
    margin: 0;
}

table#filter_table td.filter_column {
    text-align: left;
    padding: 0;
}

table#filter_table td.filter_column select {
    width: 80px;
}

table#filter_table td.filter_column input.qstring,
table#filter_table td.filter_column select.filter_fields,
table#filter_table td.filter_column select.expr,
table#filter_table td.and_or select.select_andor {
    width: 100px;
    -moz-border-radius: 3px 3px 3px 3px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CECBCB;
	vertical-align: middle;
}

#filter_table .image_col {
    padding-left: 0;
    padding-right: 2px;
    text-align: left;
}

table#filter_table td.and_or {
    padding-left: 5px;
    text-align: left;
}

table#filter_table td.and_or select {
    width: 55px;
}

/* ============== SEARCH FORM start ==============*/
div#search_filter_data input.datetime,
div#search_filter_data input.char,
div#search_filter_data input.float,
div#search_filter_data input.m2o_search,
div#search_filter_data select.selection {
    background-color: #fff;
    color: #000;
    border: 1px solid #999999;
    width: 95px;
}

div.inactive_filter {
    cursor: pointer;
    background: url(../images/button_unchecked.gif) repeat-x left bottom;
    border: solid 1px #888888;
    white-space: nowrap;
}

div.active_filter {
    cursor: pointer;
    background: url(../images/button_checked.gif) repeat-x left bottom;
    border: solid 1px #888888;
    white-space: nowrap;
}

td.group-expand,img.group_expand {
    cursor: pointer;
    background: url(../images/treegrid/expand.gif) no-repeat top left;
    padding-left: 15px;
}

td.group-expand:hover,
img.group_expand:hover {
    background: url(../images/treegrid/expandh.gif) no-repeat top left;
}

td.group-collapse,
img.group_collapse {
    cursor: pointer;
    background: url(../images/treegrid/collapse.gif) no-repeat top left;
    padding-left: 15px;
}

td.group-collapse:hover,
img.group_collapse:hover {
    background: url(../images/treegrid/collapseh.gif) no-repeat top left;
}

div.group-expand {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
}

div.group-expand h2 {
    margin: 3px;
    padding: 0 0 0 10px;
    background: url(../images/group-a-header-a.png) 0 50% no-repeat;
    color: #7d7979;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

div.group-expand h2 span {
    padding: 0 6px;
    background: #f0eeee;
}

div.group-expand h2:hover {
    background: url(../images/group-a-header-a2.png) 0 50% no-repeat;
}

#groupdata_table {
    margin: 0;
    display: block;
}

#groupdata_table td {
    padding: 0pt;
}

div.group-collapse {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

div.group-collapse h2 {
    background: url(../images/group-a-header-b.png) 0 50% no-repeat;
    margin: 3px;
    padding: 0 0 0 10px;
    color: #7d7979;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

div.group-collapse h2 span {
    padding: 0 6px;
    background: #f0eeee;
}

div.group-collapse h2:hover {
    background: url(../images/group-a-header-b2.png) 0 50% no-repeat;
}

td.custom-filter ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;
}

table#search_table td {
    padding: 2px 0;
}

td.custom-filter ul li {
    display: inline;
    float: left;
    margin: 0;
    padding-right: 0 5px 0 0;
}

td.custom-filter ul li select {
    float: left;
    height: 17px;
    padding: -1px 10px 0;
    border: 1px solid #aaa9a9;
    border-color: #e5e3e3 #dad9d9 #cccbcb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    color: #8d8d8d;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 600;
    line-height: 11px;
    text-shadow: #fff 0 1px 0;
}

td.custom-filter ul li a.button {
    cursor: pointer;
    float: left;
    height: 11px;
    padding: 3px 9px 0;
    border: 1px solid #aaa9a9;
    border-color: #e5e3e3 #dad9d9 #cccbcb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    background: url(../images/button-a.gif) 0 -26px repeat-x;
    color: #8d8d8d;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 600;
    line-height: 11px;
    text-transform: uppercase;
    text-shadow: #fff 0 1px 0;
}

td.custom-filter ul li a.button:hover,
td.custom-filter ul li a.button:focus,
td.custom-filter ul li a.button:active {
    border-color: #c6c4c4 #aaa9a9 #797878;
    background-position: 0 0;
    text-shadow: #6a6969 0 1px 0;
    color: #fff;
}

td.custom-filter ul li .add {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 -2px;
    background: url(../images/button-b-icons-add.gif) no-repeat 0 50%;
    font-size: 0;
    text-indent: -10001px;
}

/* ============== SEARCH FORM end ==============*/
button.inactive {
    background: #eeeeee;
    border: solid 1px #888888;
    color: #999999;
}

*[disabled] {
    color: #999;
}

.item .readonlyfield {
    color: black;
}

/* ---------------------- Attachment --------------- */
#attachment-box label {
    display: block;
}

.errorfield {
    border: 1px solid #D00;
    color: #D00;
    background: #FFFFFE;
}

/*------------------------------------------------------------------*/
button.static_boxes {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 1px #fff;
    -moz-box-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 1px #fff;
    height: 20px;
    font-size: 10px;
    width: 80px;
    text-transform: uppercase;
    border: 1px solid;
    border-color: #676767;
    background: #5A5858;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
}

button.static_boxes:hover, button.static_boxes:focus, button.static_boxes:active {
	border-color: #676767 #676767 #676767;
    background: #CCCCCC;
    color: #5A5858;
    font-weight: bold;
}

div.box,div.box2 {
    background-color: #F6F6F6;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

div.box {
    width: 400px;
    padding: 10px;
    margin: auto;
}

div.box2 {
    padding: 10px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

td.errorbox {
    padding: 10px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F6F6F6;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

td.welcome {
    text-align: center;
    color: #990033;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

div.message {
    background-color: #9a0404;
    color: white;
    text-align: center;
    font-weight: bold;
    border: none;
    font-size: 1.3em;
    -moz-border-radius: 3px 3px 3px 3px;
}

div.welcome-message {
    background: url(../images/top-bg-a.gif) repeat-x;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: #111 0 1px 0;
    text-decoration: none !important;
    text-align: center;
    font-size: 16px;
    -moz-border-radius: 3px 3px 3px 3px;
}

td.popup_header {
	background-color: #5A5858;
    color: white;
    text-align: center;
    font-weight: bold;
    border: none;
    font-size: 1.3em;
    height: 30px;
    -moz-border-radius: 3px 3px 3px 3px;
}

td.popup_footer,
table.popup_footer,
div.popup_footer {
	background-color: #5A5858;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.2em;
    height: 30px;
    -moz-border-radius: 3px 3px 3px 3px;
}

/* view style */
.view {
    width: 100%;
}

.view .spacer {
    width: 4px;
    height: 4px;
}

.view .title {
    border-top: 1px solid #E3E3E3;
    height: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.view table.one2many,
.view table.many2many {
    /*border: 1px solid #bbb8a9; */
    border: none;
}

table.o2m_box, table.m2m_box {
    background: #CCCCCC;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px #ddd;
    -moz-box-shadow: 0 1px 1px #ddd;
    -webkit-box-shadow: 0 1px 1px #ddd;
}

table.o2m_box div.pagerbar-header strong {
	font-weight: bold;
	font-size: 13px;
}

.view td.grid-cell table.many2many {
    border: none;
}

.view .separator {
    font-weight: bold;
    border-bottom: 1px solid #666;
    margin: 6px 0;
    width: 100%;
}

.view .selection_search {
    background-color: turquoise;
}

td.label,
td.item {
    padding: 4px;
    white-space: nowrap;
}

td.label {
    color: #777777;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

td.item input,
td.item select {
    min-width: 150px;
}

td.item table.fields {
    width: 100%;
}

td.item input,
td.item select,
td.item textarea {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #CECBCB;
    vertical-align: middle;
}

td.item input {
    padding: 2px 3px;
}

td.item input.m2o,
td.item input.reference {
    padding-right: 18px;
    min-width: 132px;
}

img.m2o_select {
    margin-left: -21px;
}

img.m2o_select,
img.m2o_open {
    vertical-align: middle;
    cursor: pointer;
}

td.item table.item-wrapper td {
    padding: 0;
    padding-right: 2px;
    white-space: nowrap;
}

td.item table.item-wrapper td img {
    vertical-align: middle;
}

.resizable-textarea .grip {
    background: #EEEEEE url(../images/textarea-grip.png) no-repeat scroll center 2px;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0pt 1px 1px;
    cursor: s-resize;
    width: 99%;
    height: 9px;
    overflow: hidden;
}

td.item .checkbox,td.item .radio {
    /* width: auto; */
}

#view_form .translatable {
    background: url(../images/stock/stock_translate.png) no-repeat right center;
}

#view_form .fielderror,
#search_form .fielderror {
    color: #FF0000;
}

#view_form .requiredfield {
    background-color: #D2D2FF;
}

#view_form .errorfield,
#search_form .errorfield {
    background-color: #FF6666;
}

#view_form .readonlyfield {
    background-color: #EEEEEE;
}

table.readonlyfield .pagerbar .pagerbar-cell .pager-table .pager-cell h2 {
	color: DarkGray;
}

table.readonlyfield table.grid .grid-cell {
	color: DarkGray;
}

table.m2o_readonly {
	color: DarkGray;
}

td.view_form_options {
    padding: 0 10px 3px 10px;
}
.view_form_options div {
    margin: 3px 0;
}

/* treebar */
.treebar {
    padding-right: 5px;
    width: 100px;
}

.treebar .row {
    cursor: pointer;
}

/* LOGIN AJAX FORM*/
input.user_pass {
    width: 150px;
}

button.click_login {
    width: 80px;
    white-space: nowrap;
}

div.invalid_login {
    display: none;
    color: red;
    text-align: center;
}

/* NORMAL LOGIN*/
select.db_user_pass,
input.db_user_pass {
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
}

td.db_login_buttons {
    text-align: right;
    padding-right: 10px;
}

/* POPUPS */

.footer_tool_box {
    padding: 0 15px 0;
}

td.save_close {
    padding: 5px;
}

/* VIEWED */
div.viewed_tree {
    overflow-x: auto;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border: solid #999999 1px;
}

/* Binary Widget */
div.binary_buttons {
    white-space: nowrap;
    width: 150px;
}

/* Button Widget */
div.button_wid_string {
    text-align: center;
    background-repeat: no-repeat;
    padding: 3px 0 0 20px;
    height: 17px;
}

/* Progreds Bar Widget */
div#progress_div1 {
    position: relative;
    border: 1px solid gray;
    font-size: 11px;
}

div#progress_div2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #afafaf;
    height: 100%;
}

div#progress_div3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

td.logActions {
    padding: 0 0 1px 10px;
}

div#serverlog {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #CECBCB;
}

table.serverLogHeader {
    border-bottom: 1px solid #CECBCB;
    padding: 2px;
    color: #9A0404;
    width: 100%;
}

div#serverlog a {
    color: #511712;
}

.pager-cell-button {
    padding: 0 0 0 5px;
}

.custom-filter {
    float: right;
    padding: 0;
}

.inactive_clear {
    display: none;
}

div.filter-a button.filter_with_icon {
	-moz-border-radius: 0;
	border-radius: 0;
}

div.filter-a button.filter_with_icon {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #cccbcb;
    background: #F4F2F2;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #fff 0 1px 0;
    color: #1F1F1F;
    line-height: 1.25;
    white-space: nowrap;
    padding: 0;
    min-height: 40px;
    min-width: 30px;
}

td.grop_box_active div.filter-a button.active {
	background-color: #cbced2;
    color: #000000;
}

div.filter-a button.filter_with_icon:active,
div.filter-a button.filter_with_icon:hover {
    background-color: #cbced2;
    color: #000000;
}

div.filter-a button.filter_with_icon:focus {
	background-color: #DCDCDC;
	color: #000000;
}

div.filter-a button.filter_icon {
    background: none;
    border: none;
    margin: 15px 0 0 0;
    min-height: 25px;
    max-height: 30px;
    max-width: 30px;
}

div.filter-a button.filter_icon:active,
div.filter-a button.filter_icon:hover,
div.filter-a button.filter_icon:focus {
    background-color: #cbced2;
    border-color: #cccbcb;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

td.first_box div.filter-a button.filter_with_icon {
    border-left: 1px solid #cccbcb;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius:  7px;
    -webkit-border-bottom-left-radius:  7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius:  0;
    -webkit-border-bottom-right-radius:  0;
}

td.last_box div.filter-a button.filter_with_icon {
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius:  7px;
    -webkit-border-bottom-right-radius:  7px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius:  0;
    -webkit-border-bottom-left-radius:  0;
}

/**
 * vim: sts=4 st=4 et
 *
 */
