table.tooltip {
    position: absolute;
    display: none;
    font-family: sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    z-index: 1000;
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
	background: url(/openerp/static/images/tips/t.png) repeat;
	border: 2px solid #8D8D8D;
	padding: 0;
}

table.tooltip .tip-text {
   text-align: center;
}

table.tooltip .tipTitle {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
}

table.tooltip .tipText {
    text-align: center;
}

table.tooltip .tipExtra {
    text-align: left;
    color: #84fb92;
    padding-right:5px;
    font-size: 12px;
}

