table.tooltip {
    position: absolute;
    display: none;
    font-family: sans-serif;
    font-size: 11px;
    color: #666666;
    z-index: 1000;
    border-radius: 6px; 
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px;
    background: #FCF9A7;
    border: 1px solid #999;
    padding: 0;
    min-width: 300px;
    max-width: 800px;
}

table.tooltip .tip-text {
   text-align: center;
    padding: 4px;
}

table.tooltip .tipTitle {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    color: #333333;
}

table.tooltip .tipText {
    text-align: center;
}

table.tooltip .tipExtra {
    text-align: left;
    color: #660000;
    padding: 0 6px 6px 6px;
    font-size: 12px;
}

