table.tree-grid {
    background-color:#E3E3E3;
    border-collapse: collapse;
    width: 100%;
}

table#view_tree,
table#import_fields,
table#export_fields {
    width: 100% !important;
}

table.tree-grid th,
table.tree-grid td {
    text-align: left;
    white-space: nowrap;
    border: 1px solid #E3E3E3;
}

.tree-grid td {
    border-top: none;
}

.tree-field {
	border-bottom: none;
	margin-top: -2px;
}

.tree-field td:last-child {
	width: 100%;
}
.tree-field td:last-child a {
	display: block;
}

.tree-grid .tree-field td {
    border: none;
}
.tree-grid .tree-field .indent,
.tree-grid .tree-field .expand,
.tree-grid .tree-field .collapse {
    padding-right: 2px;
}

#export_fields .tree-field td,
#import_fields .tree-field td {
	padding: 2px;	
}

table.tree-grid .header th {
    padding: 4px 5px;
    background: url(../images/treegrid/header.gif);
}

table.tree-grid .row {
    background-color: #FFFFFF;
}

table.tree-grid .row:hover {
    background-color: #F3F3F3;
}

table.tree-grid .row.selected{
    background-color: #E0E0E0;
}

table.tree-grid .float,
table.tree-grid .integer {
    text-align: right;
}

table.tree-grid .indent,
table.tree-grid .expand,
table.tree-grid .collapse,
table.tree-grid .loading {
    float: left;
    width: 1em;
    min-height: 18px;

    background-repeat: no-repeat;
    background-position: center;
}

table.tree-grid .expand {
    background-image: url("../images/treegrid/expand.gif");
}

table.tree-grid .expand:hover {
    background-image: url("../images/treegrid/expandh.gif");
}

table.tree-grid .collapse {
    background-image: url("../images/treegrid/collapse.gif");
}

table.tree-grid .collapse:hover {
    background-image: url("../images/treegrid/collapseh.gif");
}

table.tree-grid .loading {
    background-image: url("../images/treegrid/loading.gif");
}

table.tree-grid a,
table.tree-grid a:active,
table.tree-grid a:hover {
    text-decoration: none;
}

table.tree-grid .requiredfield {
     background-color: #CCD9FF;
}

table.tree-grid a:hover {
    color: blue;
    border: none;
}

td.tree_grid table.tree-grid {
    width: 100%;
}
